.flex-table-header {
  position: absolute;
  table-layout: fixed;
  z-index: 4;

  th {
    height: 70px;
  }
} 

.flex-header-wrap {
  height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
}