
<div class="ui menu">
  <div class="brand item">Ember Flex Table</div>
  {{link-to "index" "index" class="item"}}
  {{link-to "inline" "inline" class="item"}}
  {{link-to "bootstrap" "bootstrap" class="item"}}
  {{link-to "semantic-ui" "semantic-ui" class="item"}}
</div>

{{outlet}}